Repository kzadd/sms-kaufmann: changes, and which lint-staged commands are due for each by the changed paths.
All: ng test, prettier --write, eslint

feat: se agrega el logo y se añade el paquete de bootstrap icons
  angular.json
  package.json
  public/favicon.ico
  public/images/logo.png
Due: none

feat: se agrega el tema con los colores, fuentes y se agregan las rutas
  src/app/shared/constants/routes.constant.ts
  src/app/shared/styles/_colors.scss
  src/app/shared/styles/_fonts.scss
  src/app/shared/styles/_theme.scss
  src/app/shared/styles/globals.scss
Due: prettier --write, eslint

feat: se añade el not found
  src/app/presentation/features/not-found/index.ts
  src/app/presentation/features/not-found/presentation/not-found-container.component.html
  src/app/presentation/features/not-found/presentation/not-found-container.component.scss
  src/app/presentation/features/not-found/presentation/not-found-container.component.ts
  src/app/presentation/pages/not-found-page.component.ts
Due: prettier --write, eslint

feat: se agrega el layout
  src/app/presentation/layouts/brand/brand-layout.component.html
  src/app/presentation/layouts/brand/brand-layout.component.scss
  src/app/presentation/layouts/brand/brand-layout.component.ts
  src/app/shared/components/commons/index.ts
  src/app/shared/components/commons/suspense-loading/index.ts
  src/app/shared/components/commons/suspense-loading/suspense-loading.component.ts
  src/app/shared/constants/public-routes.constant.ts
Due: prettier --write, eslint

feat: se hacen mejoras en el sistema
  angular.json
  package.json
  src/app/__mocks__/browser.mock.ts
  src/app/__mocks__/handlers/character-mock.handlers.ts
  src/app/app.routes.ts
  src/app/core/state/effects.config.ts
  src/app/core/state/reducer.config.ts
  src/app/presentation/features/character/application/character.actions.ts
  src/app/presentation/features/character/application/character.effect.ts
  src/app/presentation/features/character/application/character.feature.ts
  src/app/presentation/features/character/application/character.types.ts
  src/app/presentation/features/character/domain/character.entity.ts
  src/app/presentation/features/character/domain/character.repository.ts
  src/app/presentation/features/character/index.ts
  src/app/presentation/features/character/infrastructure/character.adapter.ts
  src/app/presentation/features/character/infrastructure/character.service.ts
  src/app/presentation/features/character/presentation/character-container.component.html
  src/app/presentation/features/character/presentation/character-container.component.ts
  src/app/presentation/features/not-found/index.ts
  src/app/presentation/features/not-found/not-found-container.component.html
  src/app/presentation/features/not-found/not-found-container.component.scss
  src/app/presentation/features/not-found/not-found-container.component.ts
  src/app/presentation/pages/character-page.component.ts
  src/index.html
Due: prettier --write, eslint

feat: se agregan paginas y features
  src/app/app.routes.ts
  src/app/presentation/features/login/index.ts
  src/app/presentation/features/login/login-container.component.html
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/login/login-container.component.ts
  src/app/presentation/features/push-send/index.ts
  src/app/presentation/features/push-send/push-send-container.component.html
  src/app/presentation/features/push-send/push-send-container.component.scss
  src/app/presentation/features/push-send/push-send-container.component.ts
  src/app/presentation/features/sms-send/index.ts
  src/app/presentation/features/sms-send/sms-send-container.component.html
  src/app/presentation/features/sms-send/sms-send-container.component.scss
  src/app/presentation/features/sms-send/sms-send-container.component.ts
  src/app/presentation/pages/login-page.component.ts
  src/app/presentation/pages/push-send-page.component.ts
  src/app/presentation/pages/sms-send-page.component.ts
Due: prettier --write, eslint

feat: se agrega la navegación
  src/app/presentation/features/navigation/index.ts
  src/app/presentation/features/navigation/navigation-container.component.html
  src/app/presentation/features/navigation/navigation-container.component.scss
  src/app/presentation/features/navigation/navigation-container.component.ts
Due: prettier --write, eslint

feat: se agrega el login y header
  src/app/__mocks__/browser.mock.ts
  src/app/__mocks__/handlers/login-mock.handlers.ts
  src/app/app.routes.ts
  src/app/core/guards/auth.guard.ts
  src/app/core/state/effects.config.ts
  src/app/core/state/reducer.config.ts
  src/app/presentation/features/header/header-container.component.html
  src/app/presentation/features/header/header-container.component.scss
  src/app/presentation/features/header/header-container.component.ts
  src/app/presentation/features/header/index.ts
  src/app/presentation/features/login/application/login.actions.ts
  src/app/presentation/features/login/application/login.effect.ts
  src/app/presentation/features/login/application/login.feature.ts
  src/app/presentation/features/login/application/login.types.ts
  src/app/presentation/features/login/domain/login.entity.ts
  src/app/presentation/features/login/domain/login.repository.ts
  src/app/presentation/features/login/index.ts
  src/app/presentation/features/login/infrastructure/login.service.ts
  src/app/presentation/features/login/login-container.component.html
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/login/login-container.component.ts
  src/app/presentation/features/navigation/navigation-container.component.scss
  src/app/shared/exceptions/create-error.exception.ts
  src/app/shared/styles/_colors.scss
  src/app/shared/styles/_theme.scss
  src/app/shared/styles/_variables.scss
  src/app/shared/styles/globals.scss
  src/app/shared/types/exception.types.ts
  src/app/shared/utils/cookie.utils.ts
  src/app/shared/utils/local-storage.utils.ts
Due: prettier --write, eslint

feat: se mejora el codigo
  package.json
  src/app/__mocks__/handlers/login-mock.handlers.ts
  src/app/app.routes.ts
  src/app/core/guards/auth.guard.ts
  src/app/shared/exceptions/create-error.exception.ts
  src/app/shared/styles/globals.scss
  src/app/shared/types/exception.types.ts
  src/app/shared/utils/cookie.utils.ts
  src/app/shared/utils/local-storage.utils.ts
Due: prettier --write, eslint

feat: se termina la primera fase
  src/app/__mocks__/handlers/login-mock.handlers.ts
  src/app/presentation/features/header/header-container.component.html
  src/app/presentation/features/header/header-container.component.scss
  src/app/presentation/features/header/header-container.component.ts
  src/app/presentation/features/login/application/login.actions.ts
  src/app/presentation/features/login/application/login.effect.ts
  src/app/presentation/features/login/application/login.feature.ts
  src/app/presentation/features/login/infrastructure/login.service.ts
  src/app/presentation/features/login/login-container.component.html
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/login/login-container.component.ts
  src/app/presentation/features/navigation/navigation-container.component.ts
  src/app/presentation/features/not-found/not-found-container.component.html
  src/app/presentation/features/not-found/not-found-container.component.scss
Due: prettier --write, eslint

feat: se agregan mejoras
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/layouts/brand/brand-layout.component.html
  src/app/presentation/layouts/brand/brand-layout.component.scss
Due: prettier --write

feat: mejora de codigo
  src/app/__mocks__/handlers/login-mock.handlers.ts
  src/app/presentation/features/header/header-container.component.ts
  src/app/presentation/features/login/login-container.component.ts
  src/app/presentation/features/navigation/navigation-container.component.ts
  src/app/presentation/features/not-found/not-found-container.component.ts
  src/app/presentation/features/push-send/push-send-container.component.ts
  src/app/presentation/features/sms-send/sms-send-container.component.ts
  src/app/presentation/pages/not-found-page.component.ts
  src/app/presentation/pages/push-send-page.component.ts
  src/app/presentation/pages/sms-send-page.component.ts
Due: prettier --write, eslint

feat: se mejora el codigo
  src/app/app.component.ts
  src/app/shared/components/commons/toast/application/toast.types.ts
  src/app/shared/components/commons/toast/infrastructure/toast.service.ts
  src/app/shared/components/commons/toast/toast.component.html
  src/app/shared/components/commons/toast/toast.component.scss
  src/app/shared/components/commons/toast/toast.component.ts
  src/app/shared/components/index.ts
  src/app/shared/styles/_functions.scss
  src/app/shared/styles/_mixins.scss
  src/app/shared/styles/_variables.scss
  src/app/shared/styles/globals.scss
Due: prettier --write, eslint

feat: mejoras al codigo
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/not-found/not-found-container.component.scss
  src/app/shared/styles/_variables.scss
Due: prettier --write

feat: se agregan mejoras
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/not-found/not-found-container.component.scss
  src/app/presentation/layouts/brand/brand-layout.component.html
  src/app/presentation/layouts/brand/brand-layout.component.scss
Due: prettier --write

feat: se agrega mejora
  src/app/presentation/features/navigation/navigation-container.component.scss
Due: prettier --write

feat: mejoras al codigo
  src/app/__mocks__/handlers/login-mock.handlers.ts
  src/app/presentation/layouts/brand/brand-layout.component.html
  src/app/presentation/layouts/brand/brand-layout.component.scss
  src/app/shared/components/commons/toast/domain/toast.entity.ts
  src/app/shared/components/commons/toast/infrastructure/toast.service.ts
  src/app/shared/components/commons/toast/toast.component.html
  src/app/shared/components/commons/toast/toast.component.scss
  src/app/shared/components/commons/toast/toast.component.ts
  src/app/shared/services/path-param.service.ts
  src/app/shared/services/query-param.service.ts
  src/app/shared/services/query.service.ts
  src/app/shared/styles/_variables.scss
  src/app/shared/types/storage.types.ts
  src/app/shared/utils/cookie.utils.ts
  src/app/shared/utils/local-storage.utils.ts
  src/environments/environment.development.ts
  src/environments/environment.local.ts
  src/environments/environment.ts
  src/index.html
Due: prettier --write, eslint

feat: mejoras al codigo
  src/app/__mocks__/handlers/login-mock.handlers.ts
  src/app/presentation/features/login/application/login.feature.ts
  src/app/presentation/features/login/index.ts
  src/app/presentation/features/login/infrastructure/login.service.ts
  src/app/presentation/features/login/login-container.component.html
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/login/login-container.component.ts
  src/app/presentation/features/navigation/navigation-container.component.html
  src/app/presentation/features/navigation/navigation-container.component.scss
  src/app/presentation/features/navigation/navigation-container.component.ts
  src/app/presentation/features/not-found/not-found-container.component.scss
  src/app/shared/constants/app.constant.ts
Due: prettier --write, eslint

feat: se agregan mejoras
  src/app/presentation/features/header/header-container.component.scss
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/not-found/not-found-container.component.scss
Due: prettier --write

feat: se agregan mejoras
  src/app/presentation/features/login/login-container.component.html
  src/app/presentation/features/login/login-container.component.scss
Due: prettier --write

feat: se hacen mejoras
  src/app/core/state/effects.config.ts
  src/app/core/state/reducer.config.ts
  src/app/presentation/features/login/login-container.component.html
  src/app/presentation/features/login/login-container.component.ts
  src/app/shared/constants/app.constant.ts
Due: prettier --write, eslint

feat: mejoras al sistema
  src/app/presentation/features/login/login-container.component.html
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/login/login-container.component.ts
Due: prettier --write, eslint

feat: mejoras
  src/app/presentation/features/login/login-container.component.scss
  src/app/presentation/features/login/login-container.component.ts
Due: prettier --write, eslint

feat: se agrega sms send
  src/app/__mocks__/browser.mock.ts
  src/app/__mocks__/handlers/login-mock.handlers.ts
  src/app/__mocks__/handlers/sms-send-mock.handlers.ts
  src/app/presentation/features/login/infrastructure/login.service.ts
  src/app/presentation/features/login/login-container.component.ts
  src/app/presentation/features/sms-send/application/sms-send.actions.ts
  src/app/presentation/features/sms-send/application/sms-send.effect.ts
  src/app/presentation/features/sms-send/application/sms-send.feature.ts
  src/app/presentation/features/sms-send/application/sms-send.types.ts
  src/app/presentation/features/sms-send/domain/sms-send.entity.ts
  src/app/presentation/features/sms-send/domain/sms-send.repository.ts
  src/app/presentation/features/sms-send/index.ts
  src/app/presentation/features/sms-send/infrastructure/sms-send.service.ts
  src/app/shared/components/commons/toast/toast.component.html
  src/app/shared/components/commons/toast/toast.component.scss
Due: prettier --write, eslint

feat: sms send
  src/app/presentation/features/login/login-container.component.html
  src/app/presentation/features/sms-send/sms-send-container.component.html
  src/app/presentation/features/sms-send/sms-send-container.component.scss
  src/app/presentation/features/sms-send/sms-send-container.component.ts
  src/app/shared/constants/app.constant.ts
Due: prettier --write, eslint

feat: push sms
  src/app/__mocks__/browser.mock.ts
  src/app/__mocks__/handlers/push-send-mock.handlers.ts
  src/app/core/state/effects.config.ts
  src/app/core/state/reducer.config.ts
  src/app/presentation/features/push-send/application/push-send.actions.ts
  src/app/presentation/features/push-send/application/push-send.effect.ts
  src/app/presentation/features/push-send/application/push-send.feature.ts
  src/app/presentation/features/push-send/application/push-send.types.ts
  src/app/presentation/features/push-send/domain/push-send.entity.ts
  src/app/presentation/features/push-send/domain/push-send.repository.ts
  src/app/presentation/features/push-send/index.ts
  src/app/presentation/features/push-send/infrastructure/push-send.service.ts
  src/app/presentation/features/push-send/push-send-container.component.html
  src/app/presentation/features/push-send/push-send-container.component.scss
  src/app/presentation/features/push-send/push-send-container.component.ts
  src/app/presentation/features/sms-send/sms-send-container.component.ts
  src/app/shared/constants/app.constant.ts
Due: prettier --write, eslint

feat: mejora codigo
  src/app/presentation/features/push-send/push-send-container.component.ts
Due: prettier --write, eslint

feat: mejora de codigo
  .browserslistrc
  .commitlintrc
  .commitlintrc.json
  .gitignore
  .lintstagedrc
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  angular.json
  eslint.config.mjs
  package.json
  public/fonts/Montserrat-Black.ttf
  public/fonts/Montserrat-Bold.ttf
  public/fonts/Montserrat-ExtraBold.ttf
  public/fonts/Montserrat-ExtraLight.ttf
  public/fonts/Montserrat-Italic.ttf
  public/fonts/Montserrat-Light.ttf
  public/fonts/Montserrat-Medium.ttf
  public/fonts/Montserrat-Regular.ttf
  public/fonts/Montserrat-SemiBold.ttf
  public/fonts/Montserrat-Thin.ttf
  public/mockServiceWorker.js
  src/environments/environment.development.ts
  src/environments/environment.local.ts
  src/environments/environment.ts
  src/main.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, eslint

feat: code
  package.json
Due: none

feat: code
  src/app/shared/constants/app.constant.ts
  src/app/shared/styles/globals.scss
  src/app/shared/utils/validators.utils.ts
Due: prettier --write, eslint

feat: code
  src/app/features/push-send/domain/push-send.entity.ts
  src/app/features/sms-send/domain/sms-send.entity.ts
  src/app/features/sms-send/sms-send.page.component.html
  src/app/features/sms-send/sms-send.page.component.scss
  src/app/features/sms-send/sms-send.page.component.ts
Due: prettier --write, eslint

feat: code
  src/app/features/login/interfaces/containers/login-auth-container.component.html
  src/app/features/sms-send/domain/sms-send.entity.ts
  src/app/features/sms-send/ui/containers/sms-send-individual/sms-send-individual.container.component.html
  src/app/features/sms-send/ui/containers/sms-send-individual/sms-send-individual.container.component.scss
  src/app/features/sms-send/ui/containers/sms-send-individual/sms-send-individual.container.component.ts
  src/app/features/sms-send/ui/containers/sms-send-massive/sms-send-massive.container.component.html
  src/app/features/sms-send/ui/containers/sms-send-massive/sms-send-massive.container.component.scss
  src/app/features/sms-send/ui/containers/sms-send-massive/sms-send-massive.container.component.ts
Due: prettier --write, eslint

feat: code
  src/app/features/push-send/push-send.page.component.html
  src/app/features/push-send/push-send.page.component.scss
  src/app/features/push-send/push-send.page.component.ts
Due: prettier --write, eslint

feat: code
  src/app/features/push-send/domain/push-send.entity.ts
Due: prettier --write, eslint

feat: code
  src/app/features/push-send/ui/containers/push-send-individual/push-send-individual.container.component.html
  src/app/features/push-send/ui/containers/push-send-individual/push-send-individual.container.component.scss
  src/app/features/push-send/ui/containers/push-send-individual/push-send-individual.container.component.ts
  src/app/features/push-send/ui/containers/push-send-massive/push-send-massive.container.component.html
  src/app/features/push-send/ui/containers/push-send-massive/push-send-massive.container.component.scss
  src/app/features/push-send/ui/containers/push-send-massive/push-send-massive.container.component.ts
  src/app/shared/styles/globals.scss
Due: prettier --write, eslint

feat: code
  src/app/features/push-send/ui/containers/push-send-individual/push-send-individual.container.component.ts
  src/app/shared/utils/validators.utils.ts
Due: prettier --write, eslint

feat: code
  src/app/features/login/interfaces/containers/login-auth-container.component.ts
  src/app/features/sms-send/infrastructure/sms-send.service.ts
  src/app/features/sms-send/ui/containers/sms-send-individual/sms-send-individual.container.component.ts
Due: prettier --write, eslint

feat: code
  src/app/features/push-send/application/push-send.actions.ts
  src/app/features/push-send/application/push-send.effects.ts
  src/app/features/push-send/application/push-send.feature.ts
  src/app/features/push-send/domain/push-send.entity.ts
  src/app/features/push-send/domain/push-send.repository.ts
  src/app/features/push-send/infrastructure/push-send.adapter.ts
  src/app/features/push-send/infrastructure/push-send.service.ts
Due: prettier --write, eslint

Path conditions:
  ng test: any of: **/*.test.{js,ts}
  prettier --write: (any of: *.{html,scss}) or (any of: *.{js,ts})
  eslint: any of: *.{js,ts}
